body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

.container {
    width: 350px;
    margin: 100px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

input {
    width: 95%;
    margin: 10px 0;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

#message {
    margin-top: 10px;
    color: red;
}
